---
import "./src/styles/global.css";
import ButtonLink from "@/components/ui/ButtonLink.astro";
import {
  Table,
  TableBody,
  TableCaption,
  TableCell,
  TableFooter,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table";
import { AvatarAstro } from "@/components/ui/AvatarAstro"
import { ExternalLink } from 'lucide-react';
const socials = [
  {
    social: "Website",
    handle: "dynamitegus.au",
    icon: {
		src: "/globe.svg",
		alt: "A Smiley Face",
		fallbackText: "www"
	},
    avatar: {
		src: "https://dynamitegus.au/favicon.svg",
		alt: "A Smiley Face",
		fallbackText: ":>"
	},
    url: "https://dynamitegus.au/",
  },
  {
    social: "Github",
    handle: "dynamitegus",
    icon: {
		src: "/globe.svg",
		alt: "A Smiley Face",
		fallbackText: "GH"
	},
    avatar: {
		src: "https://dynamitegus.au/favicon.svg",
		alt: "A Smiley Face",
		fallbackText: ":>"
	},
    url: "https://github.com/dynamitegus/",
  },
  {
    social: "Mastodon",
    handle: "@dynamitegus@mastodon.social",
    icon: {
		src: "/globe.svg",
		alt: "A Smiley Face",
		fallbackText: "GH"
	},
    avatar: {
		src: "https://dynamitegus.au/favicon.svg",
		alt: "A Smiley Face",
		fallbackText: ":>"
	},
    url: "https://mastodon.social/@dynamitegus",
  },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body
    class="bg-black text-white sm:mx-5 md:mx-20 lg:mx-40 xl:mx-70 2xl:mx-90 my-0 px-4 bg-center h-screen">
    <div class="">
      <Table>
        <TableCaption>A list of social links.</TableCaption>
        <TableBody>
          {
            socials.map((social) => (
              <TableRow key={social.social}>
                <TableCell className="font-medium">
				  <AvatarAstro client:load src={social.icon.src} alt={social.icon.alt} fallbackText={social.icon.fallbackText}/>
                </TableCell>
				<TableCell>
					<AvatarAstro client:load src={social.avatar.src} alt={social.avatar.alt} fallbackText={social.avatar.fallbackText}/>
				</TableCell>
                <TableCell>{social.handle}</TableCell>
                <TableCell className="text-right"><ButtonLink href={social.url}><ExternalLink /></ButtonLink></TableCell>
              </TableRow>

            ))
          }
        </TableBody>
      </Table>
    </div>
  </body>
</html>
